@charset "utf-8";
/* CSS Document */

/* 画像サイズ調整 ---------------------------------------------------------------------------*/
$config_sp_scale_img : 2.4;

@function px2($px_psd) {
  $result: $px_psd / $config_sp_scale_img;
  @return #{$result}px;
}

/* フォントサイズ調整 ---------------------------------------------------------------------------*/
$config_base_fontsize : 10;
$config_sp_scale_font : 2;


@function rem($font_size_psd) {
  $rem: $font_size_psd / $config_base_fontsize;
  @return #{$rem}rem;
}

@function rem2($font_size_psd) {
  $rem: $font_size_psd / $config_base_fontsize / $config_sp_scale_font;
  @return #{$rem}rem;
}

/* ブレークポイント ---------------------------------------------------------------------------*/
$breakpoint-pc: 769px;
$breakpoint-sp: 768px;

@mixin min-screen() {
  @media screen and (min-width: $breakpoint-pc), print {
    @content;
  }
}
@mixin max-screen() {
  @media screen and (max-width: $breakpoint-sp) {
    @content;
  }
}

// color
$col_white: #fff;
$col_black: #000;
$col_text: #464646;

$col_blue: #39bed4;
$col_green: #9cc813;
$col_blue: #39bed4;
$col_orange: #ffa31c;


$col_gray01: #e8f4f6;



// parts
@mixin trans {
	transition: all .3s 0s ease;
}

@mixin ib {
  font-size: rem(0);
  text-align: center;
  letter-spacing: 0;
  > * {
    display: inline-block;
    vertical-align: middle;
    font-size: rem(14);
  }
}

@mixin tb {
  display: table;
  width: 100%;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

@mixin clearfix {
	/* For IE 6/7 only */
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin f_lato {
  font-family: 'Lato';
  font-weight: 700;
}
@mixin f_lato_b {
  font-family: 'Lato';
  font-weight: 900;
}
@mixin f_defalt {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
}


//- icon
@mixin icon_f {
  font-family: FontAwesome;
}
$icon_angle-up: ' \f106';

$serif:'Noto Serif', serif;