@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================

img {
  width: 100%;
  height: auto;
}

.show_pc {
  display: none!important;
}

.container {
  min-width: 320px;
  overflow: hidden;
}

.row {
  padding: 0 vw(30);
}

@import "./_header_sp.scss";
@import "./_footer_sp.scss";
@import "./_ttl_sp.scss";