@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================

.show_sp {
  display: none !important;
}

.container {
  min-width: 1272px;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  header{
    width: 400px;
  }
  .contents{
    width: calc(100% - 400px);
  }
}

.row {
  width: 100%;
  margin: 0 auto;
}

@import "./_header_pc.scss";
@import "./_footer_pc.scss";
@import "./_ttl_pc.scss";