header{
  padding-left: 141px;
  .gr_header{
    &_logo{
      margin: 85px 0 111px 4px;
    }
    &_nav{
      ul{
        li{
          a{
            font-size: rem(13);
            line-height: 38px;
            &:not(:last-child){
              margin-bottom: 14px;
            }
          }
        }
      }
    }
  }
}